$colordark   : #203656;
$colordefault: #8F9BAD;
$colorpink   : #FE4F70;
$colororange : #FFA387;
$colorgray   : #9faabb;
$colorborder : #EBEBEB;
$colormenu   : #79889e;
$coloroverlay: #203656;
$colortext   : #707a88;

@mixin transition($second) {
    -webkit-transition: all $second ease-in-out;
    -moz-transition   : all $second ease-in-out;
    transition        : all $second ease-in-out;
}

@mixin transform($option) {
    -webkit-transform: $option;
    -moz-transform   : $option;
    transform        : $option;
}

@mixin shadow($option) {
    -webkit-box-shadow: $option;
    -moz-box-shadow   : $option;
    box-shadow        : $option;
}