{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post_detail.title|title }}
{% endblock %}
{% block pre_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">{{ post_detail.category.name|capfirst }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post_detail.title|title }}</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}

    <div class="post post-single">
        <div class="post-header">
            <h1 class="title mt-0 mb-3">{{ post_detail.title|title }}</h1>
            <ul class="meta list-inline mb-0">
                <li class="list-inline-item">
                    <a href="">
                        <img src="{% static 'images/Akatsuki.png' %}"
                             alt="author avatar"
                             class="author">
                        Admin
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="">{{ post_detail.category.name|capfirst }}</a>
                </li>
                <li class="list-inline-item">{{ post_detail.published_at|date:'d F Y' }}</li>
            </ul>
        </div>
        <div class="post-content clearfix">
            {{ post_detail.content|safe }}
        </div>
        <div class="post-bottom">
            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-12 text-center text-md-start">
                    {% for tag in post_detail.tags.all %}
                        <a href="{{ tag.get_absolute_url }}" class="tag">#{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="col-md-6 col-12">
                    <!-- social icons -->
                    <ul class="social-icons list-unstyled list-inline mb-0 float-md-end">
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fab fa-telegram-plane"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="far fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section-header">
        <h3 class="section-title">
            Comments ({{ comments_on_post.count }})
        </h3>
    </div>
    <div class="comments p-3">
        <ul class="comments" id="comments">
            {% for comment in comments_on_post %}
                <li class="comment">
                    <div class="thumbnail">
                        <img src="{% static 'images/Akatsuki.png' %}"
                             alt="guess avatar">
                    </div>
                    <div class="details">
                        <h4 class="name">
                            <a href="#">{{ comment.username }}</a>
                        </h4>
                        <span class="date">{{ comment.created_at|date:'j F Y' }}</span>
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                </li>
            {% endfor %}
            <div id="last-comment"></div>
        </ul>
    </div>
    <div class="section-header">
        <h3 class="section-title">
            Leave Comment
        </h3>
    </div>
    <div class="comment-form p-3">
        <form id="comment-form" class="comment-form" method="post" action="">
            {% csrf_token %}
            <div class="messages">
            </div>
            <div class="row">
                <div class="column col-md-12">
                    <!-- Comment textarea -->
                    <div class="form-group">
                        {{ comment_form.content }}
                    </div>
                </div>
                <div class="column col-md-6">
                    <!-- Email input -->
                    <div class="form-group">
                        {{ comment_form.username }}
                    </div>
                </div>
                <div class="column col-md-6">
                    <!-- Name input -->
                    <div class="form-group">
                        {{ comment_form.user_email }}
                    </div>
                </div>
            </div>
            <button type="submit"
                    name="submit"
                    id="submit"
                    value="Submit"
                    class="btn btn-default">
                Submit
            </button>
        </form>
    </div>

{% endblock %}

{% block extra_js %}
    <script !src="">
        const post_id = {{ post_detail.id }};
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}